.accessibility {
    button {
        color: white;
        background: $hover-secondary;
        height: 36px;
        font-size: 24px;
        margin: 0px 8px;
        i {
            padding: 6px 10px;
        }
        &:hover {
            background: white;
            box-shadow: 0 0 0 2px rgba(255,255,255,1);
            i {
                color: $hover-secondary;
            }
        }
    }

}