    .task {
        width: 99.5%;
        margin: 0.25%;
        height: 104px;
        border: 1px solid #C4C4C4;
        border-radius: 20px;
        box-sizing: border-box;

        &:hover {
            border: 1px solid black;
        }

        .clickable-area {
            display:block; 
            width:100%; 
            height:100px; 
            position:absolute;  
            left:100px;         
            z-index: 1;
        }

        .task__container {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;

        }
    }

    .add-task__button {
        .add-task__container {
            position: relative;
            left: 46px;
            width: 160px;
            top: 50%;
            transform: translateY(-50%);     
            .fa-plus{
                color: $primary-color;
                font-size: 24px;
                padding-right: 34px;
                display: inline;
            }
            h2 {
                color: $primary-color;
                display: inline;
            }
            &:hover {
                .fa-plus, h2 {
                    color: $secondary-color;
                }    
            }
        }
    }