astroid==1.6.5
backports.functools-lru-cache==1.5
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==3.7.4
enum34==1.1.6
ez-setup==0.9
Flask==0.12.4
Flask-Cors==3.0.7
futures==3.2.0
google-api-core==1.9.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-firestore==0.32.1
googleapis-common-protos==1.5.9
grpc==0.3.post19
grpcio==1.19.0
idna==2.8
isort==4.3.16
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack-python==0.5.6
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyJWT==1.7.1
pylint==1.9.4
pytz==2018.9
requests==2.21.0
requests-toolbelt==0.9.1
rsa==4.0
singledispatch==3.4.0.3
six==1.12.0
urllib3==1.24.1
virtualenv==16.4.3
Werkzeug==0.15.2
wrapt==1.11.1
