@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: black;
}

p {
  font-family: Lato, sans-serif;
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

/*
* Hide element while making it readable for screen readers
* Shamelessly borrowed from HTML5Boilerplate:
* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.add-task button {
  position: relative;
  left: 24px;
  top: 35px;
}
.add-task button .fa-plus {
  color: #1400FF;
  font-size: 24px;
  margin-right: 16px;
  display: inline;
}
.add-task button h2 {
  color: #1400FF;
  display: inline;
}

.accessibility button {
  color: white;
  background: #1D69C4;
  height: 36px;
  font-size: 24px;
  margin: 0px 8px;
}
.accessibility button i {
  padding: 6px 10px;
}
.accessibility button:hover {
  background: white;
  box-shadow: 0 0 0 2px white;
}
.accessibility button:hover i {
  color: #1D69C4;
}

.task {
  width: 99.5%;
  margin: 0.25%;
  height: 104px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
}
.task .content {
  position: relative;
  left: 24px;
  top: 40px;
}
.task .content .button {
  display: inline;
}
.task .content .button .check-box {
  height: 25px;
  width: 25px;
  border: 1px solid black;
}
.task .content .name {
  display: inline;
  margin-left: 16px;
  position: absolute;
  left: 64px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  height: 180px;
  background: linear-gradient(90deg, #1400FF 5%, rgba(75, 63, 216, 0.5) 40%, rgba(255, 255, 255, 0) 90%, #83A6D0 110%), #247EE9;
}
.header h1, .header h2, .header h3, .header h4.h5 {
  color: white;
}
.header .greeting {
  position: absolute;
  left: 32px;
  top: 57px;
}
.header .date {
  position: absolute;
  left: 32px;
  top: 108px;
}

.accessibility {
  position: absolute;
  right: 20px;
  top: 118px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}