@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: black;
}

p {
  font-family: Lato, sans-serif;
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

/*
* Hide element while making it readable for screen readers
* Shamelessly borrowed from HTML5Boilerplate:
* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.add-task button {
  position: relative;
  left: 24px;
  top: 35px;
}
.add-task button .fa-plus {
  color: #1400FF;
  font-size: 24px;
  margin-right: 16px;
  display: inline;
}
.add-task button h2 {
  color: #1400FF;
  display: inline;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,0,0,0.5);
  opacity: 1;
  transition: opacity 500ms;
  display: none;
  z-index: 2;
}

.addition {
  position: absolute;
  width: 70%;
  height: 85%;
  margin-top: 3%;
  padding: 30px;
  margin-left: 15%;
  background-color: rgb(240, 240, 240);
  outline: 10px solid rgb(59, 59, 245);
  outline-offset: -10px;
  text-align: center;
}

.addition .closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.addition .closebtn:hover {
  color: grey;
}

.addition input, .addition textarea {
  padding: 5px;
  margin-bottom: 15px;
  border: none;
  margin-top: 10px;
}

.addition .save {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.addition .save:hover {
  border-color: white;
  background-color: white;
}

.accessibility button {
  color: white;
  background: #1D69C4;
  height: 36px;
  font-size: 24px;
}

.accessibility button i {
  padding: 6px 10px;
}

.accessibility button:hover {
  background: white;
  box-shadow: 0 0 0 2px white;
}

.accessibility button:hover i {
  color: #1D69C4;
}

.check {
  position: absolute;
  margin-left: 16px;
  margin-top: 41px;
}

.element {
  width: 99.5%;
  margin: 0.25%;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
}

.task {
  width: 94%;
  margin: 0.25%;
  margin-left: 5%;
  height: 104px;
}

.task:hover {
  border: 1px solid black;
  border-radius: 20px;
}

.task .content {
  position: relative;
  left: 2px;
  top: 50%;
}

.task .content .button {
  display: inline;
}

.check-box {
  height: 25px;
  width: 25px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.check-box:hover {
  border: 1px solid black;
}

.task .content h2 {
  position: absolute;
  display: inline;
  left: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.task .content .button .menu i:hover {
  background: white;
  box-shadow: 0 0 0 2px white;
}

.task .content .button .menu:hover {
  background: white;
  box-shadow: 0 0 0 2px white;
}

.task .content .button .menu:hover i {
  color: #1D69C4;
}

.add-task {
  width: 99.5%;
  margin: 0.25%;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
}

.header {
  width: 100%;
  height: 180px;
  background: linear-gradient(90deg, #1400FF 5%, rgba(75, 63, 216, 0.5) 40%, rgba(255, 255, 255, 0) 90%, #83A6D0 110%), #247EE9;
}
.header h1, .header h2, .header h3, .header h4.h5 {
  color: white;
}
.header .greeting {
  padding-top: 20px;
  position: absolute;
  left: 32px;
  top: 30px;
}
.header .date {
  padding-top: 40px;
  position: absolute;
  left: 32px;
  top: 60px;
}

.accessibility {
  position: absolute;
  right: 20px;
  top: 118px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(240, 240, 240);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  color: black;
  font-weight: bold;
}

.sidenav #signout {
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.sidenav #signout a {
  color: black;
  font-size: 25px;
  text-decoration: none;
}

.sidenav a:hover, .sidenav #signout a:hover {
  color: #7c7c7c;
}

.sidenav h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.sidenav p {
  padding: 5px;
  font-size: 15px;
}

.sidenav div {
  background-color: white;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
}

.sidenav #input h2 {
  font-weight: bold;
  text-align: center;
}

.sidenav #input textarea {
  width: 60%;
  padding: 5px;
  margin-left: 5%;
  border: none;
}

.sidenav #input button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10px;
}

.sidenav #input button:hover {
  background-color: rgb(219, 219, 219);
  border-color: rgb(219, 219, 219);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar {
  overflow: hidden;
  height: 50px;
  background-color: black;
  font-size: 25px;
  color: white;
}

.navbar a {
  float: right;
  background-color: blue;
  height: 50px;
  padding: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline;
}

.navbar a:hover {
  color: blue;
  background-color: white;
}

.navbar p {
  padding: 10px;
}

img {
  height: 70%;
  width: 80%;
  margin-top: 30px;
}

footer {
  text-align: center;
  background-color: rgb(121, 168, 255);
  padding: 20px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}