// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. Base stuff 
@import 'base/base';
@import 'base/typography';
@import 'base/helpers';

// 3. Components
@import 'components/button';

// 4. Layout-related sections
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/tasks';

// 5. External stylesheets
@import 'vendor/normalize'

// 6. Page-specific styles

// 7. Themes
