html, body {
    height: 100%;
    width: 100%;
    
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

button {
    background: none;
    border: none;
    transition: 0.2;
    outline: none;
}

a {
    text-decoration: none;
}
 