@import "../base/all";

.header {
    width: 100%;
    height: 180px;
    background: linear-gradient(90deg, $primary-color 5%, rgba(75, 63, 216, 0.5) 40%, rgba(255, 255, 255, 0) 90%, #83A6D0 110%), $secondary-color;
    h1,h2,h3,h4.h5 {
        color: white;  
    }
    .greeting {
        position: absolute;
        left: 32px;
        top: 57px;
    }
    .date {
        position: absolute;
        left: 32px;
        top: 108px;
    }
}
