body {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  color: black;
}

p {
  font-family: Open Sans, sans-serif;
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

.accessibility button {
  color: white;
  background: #1D69C4;
  height: 36px;
  font-size: 24px;
  margin: 0px 8px;
}

.accessibility button i {
  padding: 6px 10px;
}

.accessibility button:hover {
  background: white;
  box-shadow: 0 0 0 2px white;
}

.accessibility button:hover i {
  color: #1D69C4;
}
