body {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  color: black;
}

p {
  font-family: Open Sans, sans-serif;
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

.task {
  width: 99.5%;
  margin: 0.25%;
  height: 104px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}

.task .content {
  position: relative;
  left: 24px;
  top: 40px;
}

.task .content .button {
  display: inline;
}

.task .content .button .check-box {
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.task .content .name {
  display: inline;
  margin-left: 16px;
  position: absolute;
  left: 64px;
  top: 50%;
  transform: translate(-50%, -50%);
}
