.header__buttons {
    button {
        color: white;
        background: $hover-secondary;
        height: 36px;
        font-size: 24px;
        margin: 0px 8px;
        transition: 0.2s;
        i {
            padding: 6px 10px;
        }
        &:hover {
            background: white;
            box-shadow: 0 0 0 2px rgba(255,255,255,1);
            i {
                color: $hover-secondary;
            }
        }
    }
}

.exit-button {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 36px;
    &:hover {
        color: grey;    
    }
}