@import url('https://fonts.googleapis.com/css?family=Lato');
//fonts
$text-font-stack: Lato, sans-serif !default;
//Code font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


$text-color: black;
$brand-color: #1400FF;

//colors
$primary-color: #1400FF;
$secondary-color: #247EE9;

$hover-primary : #090075;
$hover-secondary: #1D69C4;

$light-grey: #C4C4C4;

